<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kategorie - GameHub</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>
<main class="wide-container">

    <h1 id="category-title" style="text-align: center; margin: 40px 0 30px 0; text-transform: uppercase; color: var(--color-text-primary);">
        Wszystkie Gry
    </h1>

    <div id="games-grid-container" class="games-grid">
        <p style="text-align: center; width: 100%;">Ładowanie gier...</p>
    </div>

</main>

<footer th:replace="~{fragments :: footer}"></footer>

<script th:src="@{/js/main.js}"></script>
</body>
</html>